/*
 * resset
 */
html {
}

body.body-ccpit {
    padding-top: 50px;
}

.navbar-ccpit {
    color: #fff;
    background-color: #0471b6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1c89eb), to(#2093f8));
    background-image: -webkit-linear-gradient(top, #1c89eb 0, #2093f8 100%);
    background-image: -o-linear-gradient(top, #1c89eb 0, #2093f8 100%);
    background-image: linear-gradient(to bottom, #1c89eb 0, #2093f8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c89eb', endColorstr='#2093f8', GradientType=0);
    border-width: 0 0;
    border-bottom: 2px solid #333;
}

.navbar-ccpit .navbar-brand {
    color: #fff;
}

.navbar-ccpit .navbar-brand.navbar-logo {
    padding-top: 13px;
}

.navbar-ccpit .navbar-brand:hover,
.navbar-ccpit .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-btn .btn-default {
    color: #ccc;
    background-color: transparent;
}

.navbar-btn .btn-sm {
    margin-top: 2px;
}

.navbar-ccpit .navbar-text {
    color: #fff;
}

.navbar-ccpit .navbar-header .navbar-text {
    color: #fff;
    margin-left: 0;
}

.navbar-ccpit .navbar-nav > li > a {
    color: #fff;
}

.navbar-ccpit .navbar-nav > li > a:hover, .navbar-ccpit .navbar-nav > li > a:focus {
    color: #ddd;
}

.navbar-ccpit .navbar-nav > .open > a, .navbar-ccpit .navbar-nav > .open > a:hover, .navbar-ccpit .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #eee;
}

.navbar-ccpit .navbar-nav > li > .dropdown-menu {
    margin-top: -10px;
    margin-left: 10px;
    background-color: #333;
    border-radius: 5px;
}

.navbar-ccpit .navbar-nav .dropdown-menu > li > a {
    color: #fff;
}

.navbar-ccpit .navbar-nav .dropdown-menu .divider {
    background-color: #44464a;
}

.navbar-ccpit .navbar-nav .dropdown-menu > li > a:hover,
.navbar-ccpit .navbar-nav .dropdown-menu > li > a:focus {
    background-color: #5c5c5c;
}

.navbar-ccpit .navbar-center {
    left: 560px;
    position: absolute;
}

/* common */
.text-white {
    color: #fff;
}

.text-blue {
    color: #1f92f6;
}

.bg-blue {
    background-color: #1f92f6 !important;
}

.bg-gray {
    background-color: #eee;
}

.bg-white {
    background-color: #fff;
}

.badge-red {
    background-color: red;
}

.margin-right-80 {
    margin-right: 80px !important;
}

.margin-right-60 {
    margin-right: 60px !important;
}

.margin-right-30 {
    margin-right: 30px !important;
}

.margin-right-20 {
    margin-right: 20px !important;
}

.margin-right-10 {
    margin-right: 10px !important;
}

.margin-left-80 {
    margin-left: 80px !important;
}

.margin-left-60 {
    margin-left: 60px !important;
}

.margin-left-30 {
    margin-left: 30px !important;
}

.margin-left-20 {
    margin-left: 20px !important;
}

.margin-left-10 {
    margin-left: 10px !important;
}
.padding-horizontal-0 {
    padding-right: 0px;
    padding-left: 0px;
}
.padding-left-0 {
    padding-left: 0;
}
.padding-right-0 {
    padding-right: 0;
}
.padding-horizontal-10 {
    padding-right: 10px;
    padding-left: 10px;
}

.padding-horizontal-20 {
    padding-right: 20px;
    padding-left: 20px;
}

.padding-horizontal-40 {
    padding-right: 40px;
    padding-left: 40px;
}

.padding-around-20 {
    padding: 20px;
}

.padding-vertical-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.margin-left-20 {
    margin-left: 20px;
}
.form-group-last {
    margin-left: 20px;
}
.form-group-bottom-0 {
    margin-bottom: 0;
}
.margin-top-5 {
    margin-top: 5px;
}
.multi-button {
    padding: 10px 20px 10px 0;
    line-height: normal;
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.multi-button > .title-icon-left {
    position: relative;
    top: 3px;
    left: -5px;
    pointer-events: none;
    font-size: 16px;
    background-color: #f5f5f5;
    padding: 2px 0;
    z-index: 2;
}

.textarea-resize-none {
    resize: none;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        z-index: 100;
        display: block;
        padding: 0;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #333;
        width: 100px;
    }
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #999;
}

.nav-sidebar {
}

.nav-sidebar li {
    color: #999;
    height: 100px;
    padding: 20px 10px 10px;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
}

.nav-sidebar .glyphicon {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}

.nav-sidebar .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
    font-weight: bold;
}

.nav-sidebar .badge {
    top: 10px;
    right: 20px;
    position: absolute;
}

.nav-sidebar li:hover {
    color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#ccc));
    background-image: -webkit-linear-gradient(top, #ccc 0, #ccc 100%);
    background-image: -o-linear-gradient(top, #ccc 0, #ccc 100%);
    background-image: linear-gradient(to bottom, #ccc 0, #ccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc', endColorstr='#ccc', GradientType=0);
}

.nav-sidebar-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 200px;
    background-color: #999;
}

.nav-sidebar-bottom li {
    color: #ccc;
    height: 100px;
    padding: 20px 10px 10px;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
}

.nav-sidebar-bottom .glyphicon {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}

.nav-sidebar-bottom .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
    font-weight: bold;
}

.nav-sidebar-bottom li:hover {
    background-color: #337ab7;
}

.navbar-default .navbar-message {
    margin-left: 0px;
}

@media (min-width: 970px) {
    .navbar-default .navbar-message {
        margin-left: 290px;
    }
}

/*
 * Sidebar - Extension
 */

.wrap {
    position: relative;
    /*width: 100%;*/
    /*background-color: #333;*/
    /*padding-top: 2px;*/
}

.main-wrap {
    /*margin-left: 100px;*/
    min-width: 768px;
    /*background-color: #cecdcd;*/
}

.main-left {
    position: fixed;
    top: 50px;
    left: 100px;
    width: 450px;
    bottom: 0;
    background-color: #ebebeb;
    padding-left: 0;
    padding-right: 0;
}

.left-box {
    padding-left: 20px;
    padding-right: 20px;
}

.left-box-head {
    height: 100px;
    background-color: #fff;
    line-height: 100px;
}

.left-box-head .title {
    font-size: 30px;
    font-weight: bold;
}

/*.left-box-bottom ul li:last-child {*/
/*margin-bottom: 20px;*/
/*}*/

.main-content {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 570px;
    /*background-color: #fff;*/
    padding-left: 0px;
    padding-right: 0px;
}

.main-content-unfold {
}

.main-content-unfold .content-box-head {
    left: 100px;
    border-left: 2px solid #999;
}

.main-content-unfold .content-box-body {
    left: 100px;
    border-left: 2px solid #999;
}

.main-split {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 550px;
    background-color: #cecdcd;
    padding: 0 0;
    /*box-shadow: 0px 0px 5px 1px #999 inset;*/
    box-shadow: 2px 0 2px #999 inset;
    /*inset,2px 0 0 #999 inset;*/
    /*0 -2px 0 blue, //顶部阴影*/
    /*0 2px 0 red, //底部阴影*/
    /*2px 0 0 yellow; //右边阴影*/
    width: 20px;
    z-index: -10;
}

.content-box-head {
    position: fixed;
    right: 0;
    left: 570px;
    height: 100px;
    background-color: #f5f5f5;
    padding: 0px 15px;
    line-height: 100px;
    z-index: 10;
    min-width: 768px;

}

.content-box-head .title {
    font-size: 26px;
    font-weight: bold;
}

.content-box-body {
    padding-top: 40px;
    left: 570px;
    right: 0;
    position: fixed;
    overflow: auto;
    bottom: 0;
    top: 130px;
    min-width: 768px;
}
.content-box-body-dossier {
    margin-bottom: 50px;
}

.content-box-head .multi-button {
    margin-top: 25px;
}

.content-box-body .lead {
    margin-bottom: 10px;
    font-weight: bold;
}

.search {
    margin-top: 35px;
    padding-right: 0;
}

.search .input-group-btn {
    line-height: normal;
}

.btn-default-active:first-child {
    background: #e6e6e6;
}

.table-center th {
    text-align: center;
}

.table-center td {
    text-align: center;
}

/* add BASE css */
.baseLine {
    line-height: 34px;
}

.bgNone {
    background: none !important;
}

.bg-White {
    background-color: #fff !important;
}

.opacity8 {
    opacity: 0.8;
}

.inline-block {
    display: inline-block;
}

.float-none {
    float: none !important;
}

.heightAuto {
    height: auto;
}

.shadow-none {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.radio.margin5, .checkbox.margin5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.radio.margin0, .checkbox.margin0 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.verticalTop {
    vertical-align: top;
}

.marginTB0 {
    margin-top: 0;
    margin-bottom: 0;
}

.marginBt40 {
    margin-bottom: 40px;
}

.paddingTop20 {
    padding-top: 20px;
}
.radius50{
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    border-radius:50%;
}
.w10 {
    width: 10% !important;
}

.w20 {
    width: 20% !important;
}

.w30 {
    width: 30% !important;
}

.w40 {
    width: 40% !important;
}

.w50 {
    width: 50% !important;
}

.w60 {
    width: 60% !important;
}

.w70 {
    width: 70% !important;
}

.w80 {
    width: 80% !important;
}

.w90 {
    width: 90% !important;
}

.w100 {
    width: 100% !important;
}

.column3 {
    width: 32%;
}

.column4 {
    width: 25%;
}

.main-left-Contorl {
    position: absolute;
    left: 500px;
    padding: 15px;
}

.leftContorl-arrow {
    position: absolute;
    bottom: -2px;
    left: 16px;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-bottom: 4px dashed #fff;
    border-bottom: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.well .title-icon {
    position: absolute;
    top: -20px;
    left: 30px;
    pointer-events: none;
    background-color: #8cc152;
    color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 1.3333333;
}

.tm-logo {
    position: relative;
    font-size: 0;
    line-height: 0;
    padding: 10px 20px;
    overflow: hidden;
}

.tm-logo img {
    position: relative;
    z-index: 2;
    float: left;
}

.tm-logo:before {
    content: "";
    position: absolute;
    left: 50px;
    bottom: 0;
    height: 20px;
    width: 2px;
    z-index: 0;
    background: url(../img/vLine.jpg) 0 0 repeat-y;
}

.tm-logoText {
    color: #999;
    line-height: 20px;
    padding: 10px 0 0 12px;
}

.tm-logoCn {
    font-size: 14px;
}

.tm-logoEn {
    font-size: 12px;
}

.treeviewBox {
    position: absolute;
    top: 134px;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow-y: auto;
}

.node-treeview {
    background: none;
    border: none;
}

.list-group-item {
    position: relative;
    padding: 0 15px;
    line-height: 34px;
}

.list-group-item .indent {
    border-left: 1px dashed #000;
    height: 100%;
    width: 1px;
    display: inline-block;
}

.refreshIcon {
    margin-bottom: 6px;
}

/* add BASE css END*/

/* data tree css */
.treeviewBox {
    padding-left: 70px;
}

.treeviewBox ul {
    padding: 0;
    background: url(../img/vLine.jpg) left top repeat-y;
    font-weight: bold;
    font-size: 14px;
}

#treeview > ul {
    background: url(../img/vLineType-1.jpg) left top repeat-y;
}

#treeview > ul ul {
    margin-top: -3px;
    background: url(../img/vLineType-2.jpg) left top repeat-y;
}

.treeviewBox ul li {
    position: relative;
    padding: 10px 0 0 40px;
    line-height: 28px;
    list-style: none;
    background: url(../img/hLine.png) left 10px no-repeat;
}

#treeview > ul > li {
    background: url(../img/hLine.png) 20px 28px no-repeat;
}

#treeview > ul > li ul li {
    background: url(../img/hLine.png) 0 24px no-repeat;
    padding-left: 20px;
}

.littleBox {
    background: url(../img/hLine.png) 10px 24px no-repeat !important;
    padding: 10px 0 0 40px !important;
}

.rootTags {
    position: absolute;
    left: -50px;
    top: 13px;
    color: #bdbdbd;
}

.exp-icon {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-left: -57px;
    background: #757575;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    color: #fff;
}

#treeview > ul > li .exp-icon {
    background: #bdbdbd;
}

#treeview > ul > li > ul > li .exp-icon {
    width: 32px;
    height: 32px;
    margin-left: -55px;
    line-height: 32px;
    background: #757575;
}

#treeview > ul > li > ul > li > ul > li .exp-icon {
    width: 28px;
    height: 28px;
    margin-left: -53px;
    line-height: 28px;
}

.icon_tree .glyphicon {
    font-size: 12px;
}

.exp-icon:before {
    position: absolute;
    left: 35px;
    top: 17px;
    z-index: 0;
    width: 25px;
    height: 1px;
    content: "";
}

.node {
    position: relative;
    display: inline-block;
    padding-right: 6px;
    cursor: default;
}

.textHover {
    display: inline-block;
    padding: 0 4px;
    font-size: 12px;
}

.textHover:hover {
    background: #fff;
    color: #2092f5;
}

.exp-icon .glyphicon-minus {
    margin-left: -1px;
}

.exp-icon .glyphicon-plus {
    margin-left: 1px;
}

.icon_tree {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-right: 6px;
    margin-left: 6px;
    background: #757575;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    color: #fff;
}

#treeview > ul > li .icon_tree {
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin-left: 3px;
}

#treeview > ul > li > ul > li .icon_tree {
    width: 28px;
    height: 28px;
    line-height: 28px;
    margin-left: 5px;
}

.detailIcon {
    margin: 0 8px 0 4px;
}

.treeviewBox ul .last {
    background: #ebebeb url(../img/lastLine.png) left -6px no-repeat !important;
    margin-top: 1px;
}

.dossier {
    position: absolute;
    /*width: 100%;*/
    height: 51px;
    left: 570px;
    right: 0;
    bottom: 0;
    border-top: 1px solid #ddd;
    background-color: #fff;
}

.dossier-unfold {
    left: 100px;
}

.dossier .header {
    line-height: 50px;
    background-color: #e1f5f3;
}

.dossier .content {
    position: fixed;
    right: 0;
    left: 570px;
    padding: 30px 0px 30px 20px;
}

.dossier.dossier-unfold .content {
    left: 100px;
}

.dossier.open {
    top: 150px;
    bottom: 0;
    height: auto;
}

.dossier .row .title {
    padding-left: 5px;
    padding-right: 5px;
}
.dossier .row .lead {
    margin-bottom: 10px;
    line-height: 34px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
    font-weight: bold;
}
